h2,p{
    color: white;
    text-align: center;
    font-size: 200%;
    text-spacing-trim: 300px;
}
h1{
    text-align: center;
    color: white;
    font-size: 700%;
}
.a{
    text-align: center;
}